{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="tab-pane w-100 m-auto">
        <form action="{% url 'mostrar_factura' %}" method="POST">
            {% csrf_token %}
            <input type="number" name="id" id="id" class="form-control" min="1" max="100" value="{{id}}" hidden>
            <input type="number" name="cant_boletos" id="cant_boletos" class="form-control" min="1" max="100" value="{{id}}" hidden>
            <input type="number" name="numero_sala" id="numero_sala" class="form-control" min="1" max="100" value="{{id}}" hidden>
            <h1>Facturación</h1>
            <div class="form-outline mb-4">
                <input type="text" name="nombre" id="nombre" class="form-control">
                <label class="form-label" for="nombre">Nombre(s)</label>
              </div>
              <div class="form-outline mb-4">
                <input type="text" name="apellido" id="apellido" class="form-control">
                <label class="form-label" for="apellido">Apellido(s)</label>
              </div>
              <div class="form-outline mb-4">
                <input type="text" name="apellido" id="nit" class="form-control">
                <label class="form-label" for="nit">NIT</label>
              </div>
              <div class="form-outline mb-4">
                <input type="text" name="direccion" id="direccion" class="form-control">
                <label class="form-label" for="direccion">Dirección</label>
              </div>
              {% if metodo_pago == 'tarjeta' %}
              <div class="form-outline mb-4">
                <label for="tarjeta">Tarjeta: </label>
                  <select name="tarjeta" id="tarjeta">
                    
                    <option value="tarjetanumerooo">1</option>
                    
                  </select>
                  <button type="button" class="btn btn-outline-primary">Añadir Tarjeta de débito/crédito</button>
              </div>
              {% endif %}
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
        </div>
    </div>
{% endblock %}