{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body mx-4">
      <div class="container">
        <p class="my-5 mx-5" style="font-size: 30px;">¡Gracias por tu compra!</p>
        <div class="row">
          <ul class="list-unstyled">
            <li class="text-black">Orden de compra: {{numero_boleto}}</li>
            <li class="text-black">Nombre: {{nombre}}</li>
            <li class="text-black">Nit: {{nit}}</li>
            <li class="text-black">Dirección: {{direccion}}</li>
            <li class="text-black mt-1">Fecha de emisión: {{fecha}}</li>
          </ul>
          <div class="col-xl-10">
            <p>Pelicula: {{pelicula.pelicula.titulo }}</p>
          </div>
          <br>
          <div>
            <p>DESCRIPCION</p>
          </div>
          <hr>
          <div class="col-xl-10">
            <p>Cine:<br> Cine ABC</p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">
            </p>
          </div>
          <div class="col-xl-10">
            <p>Sala:<br>{{numero_sala}}</p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">
            </p>
          </div>
          <div class="col-xl-10">
            <p>Boletos ({{cant_boletos}})</p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">({{cant_boletos}}) x Q. 48.00
            </p>
          </div>
          
          <hr style="border: 2px solid black;">
        </div>
        <div class="row text-black">
  
          <div class="col-xl-12">
            <p class="float-end fw-bold">Total: Q. {{total}}0
            </p>
          </div>
          <hr style="border: 2px solid black;">
        </div>
        <div class="text-center" style="margin-top: 90px;">
          <a href="{% url 'home' %}"><u class="text-info">Regresar al menu Inicio</u></a>
          <p class="text-muted">Si lees esto llegaste hasta aqui. </p>
        </div>
  
      </div>
    </div>
  </div>
{% endblock %}