{% extends 'admin.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm border">
        Tipo
      </div>
      <div class="col-sm border">
        Numero
      </div>
      <div class="col-sm border">
        Titular
      </div>
      <div class="col-sm border">
        Fecha Expiración
      </div>
      <div class="col-sm border">
        Acciones
      </div>
    </div>
      {% for tarjeta in tarjetas %}
    <div class="row">
        <div class="col-sm border">
        {{tarjeta.tipo}}
        </div>
        <div class="col-sm border">
            {{tarjeta.numero}}
        </div>
        <div class="col-sm border">
            {{tarjeta.titular}}
        </div>
        <div class="col-sm border">
            {{tarjeta.fecha_expiracion}}
        </div>
        <div class="col-sm border">
          <a href="#"><button type="button" class="btn btn-warning"><i class="bi bi-person-fill-gear"></i>Editar</button></a>
          <a href="{% url 'eliminar_tarjeta' tarjeta.numero %}"><button type="button" class="btn btn-danger"><i class="bi bi-person-fill-dash"></i>Eliminar</button></a>
        </div>
    </div>
    {% endfor %}
    <br>
    <p style="color: cyan;">{{mensaje}}</p>
    <a href="#"><button type="button" class="align-right btn btn-primary"><i class="bi bi-person-fill-add"></i>Crear Usuario</button></a>
  </div>
{% endblock %}